@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}
/* Custom styles for scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-height: 6px; /* Custom height for the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* For Chrome and Safari */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Border radius of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Hover color of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track (empty space) */
}
